<template>
    <div id="homepage">
        <div class="jumbotron">
            <h2>Aplikacja online do obliczania kilometrówki dla jednoosobowych działalności gospodarczych.</h2>
        </div>
        <div>
            <h3>Kiedy można używać kilometrówki</h3>
            <p>
                Jeśli masz działalność gospodarczą i samochód prywatny, możesz odliczać koszty do wysokości iloczynu kilometrów, które w przejechałeś do danego miesiąca w danym roku i stałej w
                wysokości {{ consts.MILEAGE_STAKE }}zł.
            </p>
            <h3>Jak używać te aplikacji?</h3>
            <p>
                Aplikacja ma 3 zakładki:
            </p>
            <ul>
                <li>Kilometrówka - tu wpiszujesz dane na temat swoich przejazdów.</li>
                <li>Koszty - tu wpisujesz swoje koszty związane z samochodem, na które posiadasz faktury/rachunki.</li>
                <li>Ustawienia - tu wpisz swoje dane, któ©e są potrzebne do wydruków.</li>
            </ul>
            <p>
                Pod kilometrówką znajduje się zestawienie kosztów i kilometrówki oraz informacja ile w danym miesiący możesz zaliczyć kosztów związnych z samochodem do Księgi przychodów i rozchodów.
            </p>
            <p>
                Zmiany są zapisywane automatycznie w pamięci przeglądarki. Aby zapisać je trwale, należy zalogować się przy użyciu konta google i na koniec pracy kliknąć w menu "zapisz zmiany". Zmiany
                zostaną zapisane i automatycznie odczytane po zalogowaniu się na swoje konto.
            </p>
            <p>
                VAT - apliakacja działa idelanie dla działalności bez podatku od towarów i usług - VAT. Jeśli jesteś VATowcem, musisz na własną rękę ogarnąć zależności prawne, tj. do kwoty wpisywanej jako koszt wpisywać wartośc netto + 50% podatku VAT.
            </p>
            <p>
                Aplikacja powstała z wykorzystaniem <a target="_blank" href="https://vuejs.org">Vue.js</a> i <a target="_blank" href="https://firebase.google.com">Google Firebase</a>. Wszelkie prawa zastrzezone przez Dariusza Lewandowskiego - SOFTEO 2018.
            </p>
        </div>
    </div>
</template>

<script>
    import consts from '../../assets/js/modules/settings/consts'

    export default {

        computed: {
            consts() {
                return consts
            }
        },

    }
</script>
<style>
    #homepage {
        text-align: left;
    }
</style>