<template>
    <basic-select :options="options"
                  :selected-option="item"
                  placeholder="wybierz trasę"
                  @select="onSelect">
    </basic-select>
</template>

<script>
    import {BasicSelect} from 'vue-search-select'
    import MileageCalculations from '../../assets/js/modules/mileage/MileageCalculations';

    export default {
        data() {
            return {
                options: [],
                searchText: '', // If value is falsy, reset searchText & searchItem
                item: {
                    value: '',
                    description: ''
                }
            }
        },
        methods: {
            onSelect(item) {
                this.item = item;
                this.$emit('select', this.item.value);
            },
            reset() {
                this.item = {}
            },
            selectOption() {
                // select option from parent component
                this.item = this.options[0]
            }
        },
        components: {
            BasicSelect
        },
        created() {
            let uniqueDestinations = [];
            let ridesInYear = MileageCalculations.ridesInYear(this.$store.getters.year, this.$store.getters.rides);
            for (let month in ridesInYear) {
                for (let rideIndex in ridesInYear[month]) {
                    let ride = ridesInYear[month][rideIndex];
                    if (uniqueDestinations.indexOf(ride.destination) !== -1) {
                        return false;
                    }
                    this.options.push({
                        text: ride.destination + ' / ' + ride.description,
                        value: ride
                    });
                    uniqueDestinations.push(ride.destination);
                }
            }
        }
    }
</script>