<template>
    <div>
        <div class=" d-print-none mt-2 mb-2">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newridemodal">Dodaj nowy przejazd</button>
            <button type="button" class="btn btn-secondary" @click="sortData">Posortuj miesiąc</button>
        </div>
        <new-ride></new-ride>
        <table v-if="rides.length" class="table table-hover table-sm">
            <thead>
            <tr>
                <th>Nr</th>
                <th>Data</th>
                <th>Cel</th>
                <th>Opis trasy</th>
                <th>km</th>
                <th>Limit</th>
                <th class="d-print-none"></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="ride in rides">
                <td>{{ride.id}}</td>
                <td>{{ride.date}}</td>
                <td>{{ride.destination}}</td>
                <td>{{ride.description}}</td>
                <td>{{ride.mileage}}</td>
                <td>{{ride.limit | roundToTwoDigits}}</td>
                <td class="delete d-print-none" @click="deleteRide(ride.id)"><a>x</a></td>
            </tr>
            </tbody>
        </table>
        <div v-else class="alert alert-secondary mt-2" role="alert">
            Brak wpisów w danym miesiącu
        </div>
    </div>
</template>

<script>
    import NewRide from './NewRide'
    import {FilterMixin} from '../mixins/FilterMixin'
    import MileageCalculations from '../../assets/js/modules/mileage/MileageCalculations';

    export default {
        mixins: [FilterMixin],
        props: ['currentProperties'],
        components: {
            NewRide
        },
        computed: {
            rides() {
                return MileageCalculations.ridesInMonth(this.year, this.month, this.$store.getters.rides);
            },
            year() {
                return this.$store.getters.year;
            },
            month() {
                return this.$store.getters.month;
            }
        },
        methods: {
            deleteRide(rideId) {
                this.$store.dispatch('deleteRide', rideId);
                this.reconstructIds();
            },
            reconstructIds() {
                this.$store.dispatch('reconstructIds');
            },
            sortData() {
                this.$store.dispatch('sortByDate');
            }
        }
    }
</script>

<style>
</style>