<template>
    <div class="modal fade" id="newridemodal" ref="vuemodal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Nowy przejazd
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Przedziały dni po przecinku albo data przejazdu</label>
                        <div class="row">
                            <div class="col">
                                <input type="text" v-model="ride.days" placeholder="np. 1-5,8-12,26,28,30"/>
                            </div>
                            <div class="col">
                                <datepicker
                                        v-model="ride.date"
                                        format="yyyy-MM-dd"
                                        :disabledDates="disabledDates"
                                        :disabled="activeDateMethod === consts.NEW_RIDE_DATE_TYPE_DAYS"
                                ></datepicker>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Cel</label>
                        <input type="text" v-model="ride.destination" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>Opis trasy</label>
                        <input type="text" v-model="ride.description" class="form-control"/>
                    </div>

                    <div class="row">
                        <div class="col"><label>Kilometry</label></div>
                        <div class="col"><label>Limit</label></div>
                    </div>
                    <div class="row">
                        <div class="col"><input type="number" v-model="ride.mileage" class="form-control"/></div>
                        <div class="col" ref="ride.limit">{{ ride.limit.toFixed(2) }}zł</div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col">
                            <label>Wczytaj z poprzednich wpisów</label>
                            <mileage-autocomplete @select="onAutocomplete"></mileage-autocomplete>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                    <button type="button" class="btn btn-primary" @click="save">Zapisz</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    const Datepicker = () => import('vuejs-datepicker');
    const MileageAutocomplete = () => import('./MileageAutocomplete');
    import {Ride} from '../../assets/js/modules/mileage/ride';
    import consts from '../../assets/js/modules/mileage/consts';
    import helpers from '../../assets/js/helpers';

    export default {
        components: {
            Datepicker,
            MileageAutocomplete
        },
        watch: {
            'ride.mileage': function () {
                this.ride.limit = Math.round(this.ride.mileage * 0.8358 * 10000) / 10000;
            },
            'ride.days': function () {
                this.activeDateMethod = this.ride.days ? consts.NEW_RIDE_DATE_TYPE_DAYS : consts.NEW_RIDE_DATE_TYPE_DATE;
            }
        },
        data: function () {
            return {
                activeDateMethod: consts.NEW_RIDE_DATE_TYPE_DATE,
                ride: {
                    date: new Date(this.$store.getters.year, this.$store.getters.month - 1),
                    destination: '',
                    mileage: 0,
                    description: '',
                    limit: 0,
                    days: ''
                }
            }
        },
        computed: {
            consts() {
                return consts;
            },
            disabledDates() {
                let toDate = new Date(this.$store.getters.year, this.$store.getters.month - 1, 1);
                toDate.setDate(1); // going to 1st of the month
                let fromDate = new Date(this.$store.getters.year, this.$store.getters.month - 1, 1);
                fromDate.setMonth(fromDate.getMonth() + 1, 1);
                return {
                    to: new Date(toDate.getFullYear(), toDate.getMonth(), toDate.getDate()),
                    from: new Date(fromDate.getFullYear(), fromDate.getMonth(), fromDate.getDate())
                }
            },
        },
        methods: {
            save() {
                let ride = this.getRideObjectWithoutDate();
                if (this.activeDateMethod === consts.NEW_RIDE_DATE_TYPE_DATE) {
                    ride.date = this.getDateFromDate();
                    this.$store.dispatch('addRide', ride);
                } else {
                    let daysRanges = this.ride.days.split(',');
                    for (let rangeIndex in daysRanges) {
                        let range = daysRanges[rangeIndex].trim();
                        if (range.indexOf('-') === -1) {
                            ride.date = this.$store.getters.year + '-' + helpers.toTwoDigit(this.$store.getters.month) + '-' + helpers.toTwoDigit(range);
                            this.$store.dispatch('addRide', ride);
                            ride = this.getRideObjectWithoutDate();
                        } else {
                            let ranges = range.split('-');
                            for (let i = Math.trunc(ranges[0]); i <= Math.trunc(ranges[1]); i++) {
                                ride.date = this.$store.getters.year + '-' + helpers.toTwoDigit(this.$store.getters.month) + '-' + helpers.toTwoDigit(i);
                                this.$store.dispatch('addRide', ride);
                                ride = this.getRideObjectWithoutDate();
                            }
                        }
                    }
                }
                $(this.$refs.vuemodal).modal('hide');
            }, getRideObjectWithoutDate() {
                let ride = new Ride();
                ride.destination = this.ride.destination;
                ride.description = this.ride.description;
                ride.mileage = this.ride.mileage;
                ride.limit = this.ride.limit;
                return ride;
            },
            getDateFromDate() {
                let date = new Date(this.ride.date);
                let year = date.getFullYear();
                let month = helpers.toTwoDigit(date.getMonth() + 1);
                let day = helpers.toTwoDigit(date.getDate());
                return year + '-' + month + '-' + day;
            },
            onAutocomplete(data) {
                this.ride.description = data.description;
                this.ride.destination = data.destination;
                this.ride.mileage = data.mileage;
            }
        },
    }
</script>

<style>

</style>