<template>
    <div>
        <div v-if="ridesInMonth" v-for="(ridesInMonth, month) in rides" class="new-page">
            <company-header :year="$store.getters.year" :month="month"></company-header>
            <table class="table table-hover table-sm">
                <thead>
                <tr>
                    <th>Nr</th>
                    <th>Data</th>
                    <th>Cel</th>
                    <th>Opis trasy</th>
                    <th>km</th>
                    <th>Limit</th>
                    <th class="d-print-none"></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="ride in ridesInMonth">
                    <td>{{ride.id}}</td>
                    <td>{{ride.date}}</td>
                    <td>{{ride.destination}}</td>
                    <td>{{ride.description}}</td>
                    <td>{{ride.mileage}}</td>
                    <td>{{ride.limit | roundToTwoDigits}}</td>
                    <td class="delete d-print-none" @click="deleteRide(ride.id)"><a>x</a></td>
                </tr>
                </tbody>
            </table>
            <month-summary :year="$store.getters.year" :month="month"></month-summary>
        </div>

    </div>
</template>

<script>
    import CompanyHeader from  '../common/CompanyHeader'
    import {FilterMixin} from '../mixins/FilterMixin'
    import MileageCalculations from '../../assets/js/modules/mileage/MileageCalculations'
    import MonthSummary from '../common/MonthSummary'

    export default {
        mixins: [FilterMixin],
        components: {CompanyHeader, MonthSummary},
        computed: {
            rides() {
                return MileageCalculations.ridesInYear(this.$store.getters.year, this.$store.getters.rides)
            }
        },
        methods: {

        }
    }
</script>

<style>
</style>