<template>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Kilometrówka</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <router-link to="mileage" tag="li" active-class="active"><a class="nav-link">Kilometrówka</a></router-link>
                <router-link to="costs" tag="li" active-class="active"><a class="nav-link">Koszty</a></router-link>
                <li><storage-save></storage-save></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Opcje
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <router-link to="settings" tag="a" class="dropdown-item" active-class="active">Dane firmy i pojazdu</router-link>
                        <storage-load></storage-load>
                        <router-link to="printable" tag="a" class="dropdown-item" active-class="active">Wersja do druku</router-link>
                        <div class="dropdown-divider"></div>
                        <storage-status></storage-status>
                    </div>
                </li>
                <li><span class="nav-link"><month-changer></month-changer></span></li>
            </ul>
            <google-provider></google-provider>
        </div>
    </nav>
</template>

<script>
    import MonthChanger from '../monthChanger'
    import StorageSave from './StorageSave';
    import StorageLoad from './StorageLoad';
    import StorageStatus from './StorageStatus';
    import GoogleProvider from '../authorization/GoogleProvider'

    export default {
        components: {MonthChanger, StorageSave, StorageLoad, StorageStatus, GoogleProvider}
    }
</script>

<style>
</style>