<template>
    <a class="dropdown-item" href="#" @click="loadDataFromFirebase">Wczytaj zmiany z serwera</a>
</template>

<script>
    import {LoadDataFromFirebaseMixin} from '../../mixins/LoadDataFromFirebaseMixin';

    export default {
        mixins: [LoadDataFromFirebaseMixin]
    }
</script>

<style>
</style>