<template>
    <a class="dropdown-item" href="#">Ostatni zapis: {{lastSaveDate}}</a>
</template>

<script>
    export default {
        data() {
            return {
                lastSaveDate: ''
            }
        },
        created() {
            this.lastSaveDate = localStorage.getItem('lastSaveDate') ? localStorage.getItem('lastSaveDate') : 'nie zapisano zmian!';
        }
    }
</script>

<style>

</style>