<template>
    <a class="nav-link" href="#" @click="save">Zapisz zmiany</a>
</template>

<script>
    import firebase from 'firebase';
    import helpers from '../../../assets/js/helpers';

    export default {
        methods: {
            save() {
                let that = this;
                if (firebase.auth().currentUser) {
                    let user = firebase.auth().currentUser;
                    firebase.database().ref('state/' + user.uid).set(
                        this.$store.state
                    ).then(function () {
                        let rightNow = new Date();
                        that.lastSaveDate = rightNow.toISOString().slice(0, 19).replace("T", " ");
                        localStorage.setItem("lastSaveDate", that.lastSaveDate);
                        helpers.alert('Zmiany zapisano');
                    })
                } else {
                    helpers.alert('Musisz być  zalogowany, aby zapisac zmiany.', 'danger');
                }
            },
        }
    }
</script>

<style>
</style>