#newridemodal {
  .row {
    padding: 5px 0;
    .col {
      text-align: left;
      div, input {
        width: 100%
      }
    }
  }
}

.table {
  margin-top: 1em
}

.v-autocomplete {
  .v-autocomplete-list {
    z-index: 999999;
    background-color: #fff;
    .v-autocomplete-list-item {
      padding: 3px;
    }
  }
}

#settings {
  input, select {
    width: 100%;
  }
}

.delete {
  a {
    color: red;
    font-weight: bolder;
  }
}

a {
  cursor: pointer
}

.myAlert-top {
  position: fixed;
  top: 70px;
  right: 2%;
  display: none;
  width: 30%;
  max-width: 300px;
  z-index: 10;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.new-page {
  page-break-after: always;
}