<template>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a v-if="user === ''" class="nav-link" @click="runPopup">Zaloguj {{user}}</a>
            <a v-if="user !== null && user !==''" class="nav-link">{{user}} | <span @click="logout">Wyloguj</span></a>
        </li>
    </ul>

</template>

<script>
    import firebase from 'firebase';

    export default {
        data() {
            return {
                user: null
            }
        },
        computed: {},
        methods: {
            runPopup() {
                let provider = new firebase.auth.GoogleAuthProvider();
                firebase.auth().signInWithPopup(provider).then(function (result) {
                    // This gives you a Google Access Token. You can use it to access the Google API.
                    let token = result.credential.accessToken;
                    // The signed-in user info.
                    let user = result.user;
                    // ...
                }).catch(function (error) {
                    // Handle Errors here.
                    let errorCode = error.code;
                    let errorMessage = error.message;
                    // The email of the user's account used.
                    let email = error.email;
                    // The firebase.auth.AuthCredential type that was used.
                    let credential = error.credential;
                    // ...
                });
            },
            logout() {
                firebase.auth().signOut().then(function() {
                    this.user = '';
                }).catch(function(error) {
                    // An error happened.
                });
            }
        },
        mounted() {
            let user = firebase.auth().currentUser;
            if (user) {
                this.user = user.email;
                console.log('logged at once');
            } else {
                firebase.auth().onAuthStateChanged(user => {
                    this.user = user  ? user.email : '';
                });
            }
        }
    }
</script>

<style>

</style>