<template>
    <div class="card">
        <div class="card-header">
            <h3>Ewidencja przebiegu pojazdu {{helpers.monthName(month)}} {{year}}</h3>
        </div>
        <div class="d-none d-print-block card-body">
            <div>
                {{$store.getters.getUser.name}},
                {{$store.getters.getUser.address}}<br>
                Numer rejestracyjny: {{$store.getters.getUser.registration}},
                {{$store.getters.getUser.engineCapacity}},
                stawka za 1km {{consts.MILEAGE_STAKE}}zł
            </div>
        </div>
    </div>
</template>

<script>
    import helpers from '../../assets/js/helpers';
    import consts from '../../assets/js/modules/settings/consts';
    export default {
        props: ['month', 'year'],
        computed: {
            helpers() {
                return helpers;
            },
            consts() {
                return consts;
            }
        }
    }
</script>

<style>

</style>