<template>
    <div>
        <a @click="yearChange(-1)"><<</a> {{year}} <a @click="yearChange(1)">>></a>
        <a @click="monthChange(-1)"><<</a> {{helpers.toTwoDigit(month)}} <a @click="monthChange(1)">>></a>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import helpers from '../../assets/js/helpers'
    export default {
        computed: {
            ...mapGetters(['year', 'month']),
            helpers() {
                return helpers;
            }
        },
        methods: {
            yearChange(change) {
                this.$store.commit('yearChange', change);
            },
            monthChange(change) {
                this.$store.commit('monthChange', change);
            }
        }
    }
</script>

<style scoped>
    div {
        color: white;
    }
    a {
        cursor: pointer
    }
</style>