<template>
    <div>
        <progress-bar :costs="yearCosts" :mileage="yearMileage"></progress-bar>
        <table class="table table-sm">
            <tbody>
            <tr>
                <th>Kategoria</th>
                <th>Suma w miesiącu</th>
                <th>Z przeniesienia</th>
                <th>Suma w roku</th>
            </tr>
            <tr>
                <th>Kilometrówka</th>
                <td>{{monthMileage.toFixed(2)}}</td>
                <td>{{movedMileage.toFixed(2)}}</td>
                <td>{{yearMileage.toFixed(2)}}</td>
            </tr>
            <tr>
                <th>Koszty</th>
                <td>{{monthCosts.toFixed(2)}}</td>
                <td>{{movedCosts.toFixed(2)}}</td>
                <td>{{yearCosts.toFixed(2)}}</td>
            </tr>
            <tr>
                <th>Różnica</th>
                <td></td>
                <td></td>
                <td>{{(yearMileage - yearCosts).toFixed(2)}}</td>
            </tr>
            <tr>
                <th>Do ujęcia w miesiącu</th>
                <td></td>
                <td></td>
                <td>{{toKPIR | roundToTwoDigits}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import {FilterMixin} from '../mixins/FilterMixin'
    import ProgressBar from './ProgressBar'
    import CostsCalculations from '../../assets/js/modules/costs/CostsCalculations';
    import MileageCalculations from '../../assets/js/modules/mileage/MileageCalculations';

    export default {
        props: ['year', 'month'],
        mixins: [FilterMixin],
        components: {ProgressBar},
        computed: {
            monthCosts() {
                return CostsCalculations.sumInMonth(this.year, this.month, this.$store.getters.costs);
            },
            yearCosts() {
                return CostsCalculations.sumInYear(this.year, this.month, this.$store.getters.costs);
            },
            movedCosts() {
                return CostsCalculations.costsMovedFromPreviousMonths(this.year, this.month, this.$store.getters.costs);
            },
            monthMileage() {
                return MileageCalculations.limitInMonth(this.year, this.month, this.$store.getters.rides);
            },
            yearMileage() {
                return MileageCalculations.limitInYear(this.year, this.month, this.$store.getters.rides);
            },
            movedMileage() {
                return MileageCalculations.limitMovedFromPreviousMonths(this.year, this.month, this.$store.getters.rides);
            },
            toKPIR() {
                return this.yearCosts > this.yearMileage ? this.monthMileage : this.yearMileage - this.yearCosts;
            },
        }
    }
</script>

<style lang="scss">

</style>