<template>
    <div class="progress">
        <div class="progress-bar bg-primary" role="progressbar" :style="{width: mainBarPercent+'%'}" :aria-valuenow="mainBarPercent" aria-valuemin="0" aria-valuemax="100">{{mainValue}}</div>
        <div class="progress-bar" :class="secondClass" role="progressbar" :style="{width: secondBarPercent+'%'}" :aria-valuenow="secondBarPercent" aria-valuemin="0" aria-valuemax="100">{{secondValue}}</div>
    </div>
</template>

<script>
    import helpers from '../../assets/js/helpers'

    export default {
        props: ['costs', 'mileage'],
        computed: {
            secondClass() {
                return this.mileage > this.costs ? 'bg-success' : 'bg-dark';
            },
            max() {
                return this.costs > this.mileage ? this.costs : this.mileage
            },
            mainValue() {
                return helpers.roundToTwoDigits(this.mileage > this.costs ? this.costs : this.mileage);
            },
            secondValue() {
                return helpers.roundToTwoDigits(this.max - this.mainValue);
            },
            mainBarPercent() {
                if (this.mileage > this.costs) {
                    return Math.round(this.costs / this.mileage * 100)
                } else {
                    return Math.round(this.mileage / this.costs * 100)
                }
            },
            secondBarPercent() {
                return 100 - this.mainBarPercent;
            }
        }
    }
</script>

<style>

</style>