<template>
    <div>
        <month-table></month-table>
        <month-summary :year="$store.getters.year" :month="$store.getters.month"></month-summary>
    </div>
</template>

<script>
    import MonthTable from './MonthTable';
    import MonthSummary from '../common/MonthSummary'
    export default {
        components: {
            MonthSummary,
            MonthTable
        },
    }
</script>

<style scoped>

</style>