<template>
    <div>
        <new-cost></new-cost>
        <h1>Koszty {{helpers.monthName(month)}} {{year}}</h1>
        <div v-if="costs.length" class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Nr</th>
                    <th>Data</th>
                    <th>Symbol</th>
                    <th>Opis</th>
                    <th>Wartość</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="cost in costs" :key="cost.id">
                    <td>{{cost.id}}</td>
                    <td>{{cost.date}}</td>
                    <td>{{cost.symbol}}</td>
                    <td>{{cost.description}}</td>
                    <td>{{cost.value}}</td>
                    <td class="delete" @click="deleteCost(cost.id)"><a>x</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div v-else class="alert alert-primary" role="alert">
            Brak wpisów w danym miesiącu
        </div>
    </div>
</template>

<script>
    import NewCost from './NewCost'
    import helpers from '../../assets/js/helpers'
    import CostsCalculations from '../../assets/js/modules/costs/CostsCalculations';

    export default {
        components: {
            NewCost
        },
        data: function () {
            return {}
        },
        computed: {
            helpers() {
                return helpers
            },
            costs() {
                return CostsCalculations.costsInMonth(this.year, this.month, this.$store.getters.costs);
            },
            year() {
                return this.$store.getters.year;
            },
            month() {
                return this.$store.getters.month;
            }
        },
        methods: {
            deleteCost(costId) {
                this.$store.dispatch('deleteCost', costId);
                this.reconstructIds();
            },
            reconstructIds() {
                this.$store.dispatch('reconstructCostsIds');
            }
        }
    }
</script>

<style>
</style>