<template>
    <div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newcostmodal">
            Dodaj nowy koszt
        </button>
        <div class="modal fade" id="newcostmodal" ref="vuemodal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        Nowy koszt
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">Data powstania kosztu</div>
                            <div class="col">
                                <datepicker
                                        v-model="cost.date"
                                        format="yyyy-MM-dd"
                                        :disabledDates="disabledDates"
                                ></datepicker>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">Symbol</div>
                            <div class="col"><input v-model="cost.symbol"/></div>
                        </div>
                        <div class="row">
                            <div class="col">Opis</div>
                            <div class="col"><input v-model="cost.description"/></div>
                        </div>
                        <div class="row">
                            <div class="col">Wartość</div>
                            <div class="col"><input type="number" v-model="cost.value"/></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                        <button type="button" class="btn btn-primary" @click="save">Zapisz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    const Datepicker = () => import('vuejs-datepicker');
    import {Cost} from '../../assets/js/modules/costs/cost';
    import consts from '../../assets/js/modules/mileage/consts';
    import helpers from '../../assets/js/helpers';

    export default {
        components: {
            Datepicker
        },
        data: function () {
            return {
                cost: {
                    date: new Date(),
                    symbol: '',
                    description: '',
                    value: 0,
                }
            }
        },
        computed: {
            consts() {
                return consts;
            },
            disabledDates() {
                let toDate = new Date(this.$store.getters.year, this.$store.getters.month - 1, 1);
                toDate.setDate(1); // going to 1st of the month
                let fromDate = new Date(this.$store.getters.year, this.$store.getters.month - 1, 1);
                fromDate.setMonth(fromDate.getMonth() + 1, 1);
                return {
                    to: new Date(toDate.getFullYear(), toDate.getMonth(), toDate.getDate()),
                    from: new Date(fromDate.getFullYear(), fromDate.getMonth(), fromDate.getDate())
                }
            },
        },
        methods: {
            save() {
                let cost = this.getCostObjectWithoutDate();
                cost.date = this.getDateFromDate();
                this.$store.dispatch('addCost', cost);
                $(this.$refs.vuemodal).modal('hide');
            }, getCostObjectWithoutDate() {
                let cost = new Cost();
                cost.symbol = this.cost.symbol;
                cost.description = this.cost.description;
                cost.value = this.cost.value;
                return cost;
            }, getDateFromDate() {
                let date = new Date(this.cost.date);
                let year = date.getFullYear();
                let month = helpers.toTwoDigit(date.getMonth() + 1);
                let day = helpers.toTwoDigit(date.getDate());
                return year + '-' + month + '-' + day;
            }
        },
    }
</script>

<style>

</style>