<template>
    <div id="app">
        <div class="myAlert-top alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span class="content"></span>
        </div>
        <navigation></navigation>
        <main role="main" class="container">
            <router-view></router-view>
        </main>
    </div>
</template>

<script>
    import MileageLayout from './components/mileage/MileageLayout'
    import firebase from 'firebase'
    import Navigation from './components/common/navigation/Navigation';
    import helpers from "./assets/js/helpers";
    import {LoadDataFromFirebaseMixin} from './components/mixins/LoadDataFromFirebaseMixin';

    export default {
        name: 'app',
        mixins: [LoadDataFromFirebaseMixin],
        components: {
            Navigation,
            MileageLayout
        },
        data() {
            return {
                selectedView: 'MileageLayout'
            }
        },
        computed: {},
        mounted() {
            if (!this.$store.getters.year) {
                this.$store.dispatch('setCurrentDate');
            }
            if (!this.$store.getters.ridesExists) {
                this.loadDataFromFirebase();
            }
        }
    }
</script>

<style lang="scss">

</style>
