<template>
    <div class="card text-white bg-dark" id="settings">
        <div class="card-header">Ustawienia</div>
        <div class="card-body">
            <div class="row">
                <div class="col">Nazwa</div>
                <div class="col"><input v-model="userName"/></div>
            </div>
            <div class="row">
                <div class="col">Adres</div>
                <div class="col"><input v-model="userAddress" /></div>
            </div>
            <div class="row">
                <div class="col">Rejestracja</div>
                <div class="col"><input v-model="userRegistration"/></div>
            </div>
            <div class="row">
                <div class="col">Pojemność silnika</div>
                <div class="col">
                    <select v-model="userEngineCapacity">
                        <option></option>
                        <option :selected="userEngineCapacity === consts.ENGINE_CAPACITY_OVER_900" :value="consts.ENGINE_CAPACITY_OVER_900">{{consts.ENGINE_CAPACITY_OVER_900}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>



</template>

<script>
    import consts from '../../assets/js/modules/settings/consts'

    export default {
        data() {
            return {

            }
        },
        computed: {
            userName: {
                get () {
                    return this.$store.getters.getUser.name;
                },
                set (value) {
                    this.$store.commit('updateUserAttribute', {name: value})
                }
            },
            userAddress: {
                get () {
                    return this.$store.getters.getUser.address;
                },
                set (value) {
                    this.$store.commit('updateUserAttribute', {address: value})
                }
            },
            userRegistration: {
                get () {
                    return this.$store.getters.getUser.registration;
                },
                set (value) {
                    this.$store.commit('updateUserAttribute', {registration: value})
                }
            },
            userEngineCapacity: {
                get () {
                    return this.$store.getters.getUser.engineCapacity;
                },
                set (value) {
                    this.$store.commit('updateUserAttribute', {engineCapacity: value})
                }
            },
            consts() {
                return consts;
            }
        }
    }
</script>

<style>

</style>